<div class="auth-main">
  <div class="auth-block">
    <h1 translate>{{'login.title'}}</h1>
    <a routerLink="/register" class="auth-link" translate>{{'login.signup_link'}}</a>

    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      <strong>Well done!</strong> {{successMessage}}.
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <strong>Oops!</strong> {{errorMessage}}.
    </div>

    <form #form class="formly" role="form" novalidate [formGroup]="loginForm" >
      <formly-form [form]="loginForm" [options]="options" [model]="userModel" [fields]="loginFields" class="row"></formly-form>
    </form>

    <button (click)="onSubmit(userModel)" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>

  </div>
</div>
