<div class="auth-main">
  <div class="auth-block">
    <h1>Sign up to ng2-admin</h1>

    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      <strong>Well done!</strong> {{successMessage}}.
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <strong>Oops!</strong> {{errorMessage}}.
    </div>

    <a routerLink="/login" class="auth-link">Already have an account? Sign in!</a>
    <form #form class="formly" role="form" novalidate [formGroup]="registerForm"   >
      <formly-form [form]="registerForm" [model]="userModel" [fields]="registerFields" class="row"></formly-form>
    </form>
    <button (click)="onSubmit(userModel)" [disabled]="!registerForm.valid" class="btn btn-primary">Register</button>
  </div>
</div>
